.background {
    x: 0;
    y: 0;
    width: 100%;
    height: 100%;
    fill: "#000000";
}

.dateSection {
    x: 30;
    y: 50;
}
#dateLabel {
    fill: "#F8F8F2";
}

.batIconSection {
    x: 235;
    y: 48;
}
#batIconLabel {
    fill: "#E6DB74";
}
.batLevelSection {
    x: 240;
    y: 50;
}
#batLevelLabel {
    fill: "#F8F8F2";
}

.ampmSection {
    x: 10;
    y: 100;
}
#ampmLabel {
    fill: "#F8F8F2";
}
.hourSection {
    x: 150;
    y: 200;
}
#hourLabel {
    fill: "#F8F8F2";
}
.colonSection {
    x: 50%;
    y: 200;
}
#colonLabel {
    fill: "#F8F8F2";
}
.minSection {
    x: 180;
    y: 200;
}
#minLabel {
    fill: "#F8F8F2";
}
.secondsSection {
    x: 330;
    y: 250;
}
#secondsLabel {
    fill: "#F8F8F2";
}

.heartIconSection {
    x: 95;
    y: 260;
}
#heartIconLabel {
    fill: "#F92672";
}
.heartRateSection {
    x: 100;
    y: 255;
}
#heartRateLabel {
    fill: "#F8F8F2";
}

.stepsIconSection {
    x: 95;
    y: 305;
}
#stepsIconLabel {
    fill: "#A6E22E";
}
.stepsSection {
    x: 100;
    y: 300;
}
#stepsLabel {
    fill: "#F8F8F2";
}
